
#header {
  height:100px;
  width: 100%;
  position: top;
  margin-top: -20px;
  background-color: #a0522d;


}

#sidebar {
  height:1200px;
  width: 200px;
  float: left;
  padding-top: 150px;
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 50px;
  border-right: 1pt solid black;
  background-color: #a0522d;
  text-decoration: white;
}

#post {
  background-color:#deb887;
  height:1200px;
  padding: 110px 100px 50px 350px;
}

#entries {
    text-align:center;
    padding-right: 50px;
    font-family: Garamond;
}

#BlogTitle {
          text-align: center;
          font-family: Garamond;
          font-size: 36pt;
}

.blog {
      font-size: 16pt;
      font-family: Garamond;
      text-align: center;
}



table {
    width: 100%;
    text-align: center;
    font-size: 22pt;
    padding-top: 25px;
    margin-left: 50px;
    font-family: Garamond;
}



