body{
        font-family: Times, sans-serif;
        height: 100%;
        width: 100%;
}


h1 {
        text-align: center;



}


.titular {
          font-family: 'Domine', serif;
          font-size: 40pt;
          padding-top: 150px;

}


#left {
        background-color: #8ecbff;
        width: 33%;
        display: inline-block;
        float:left;
        height: 700px;
        position: absolute;
        border-right: 100pt solid black;

}

#bars {
        margin-top: -10px;
         height: inherit;
        width: inherit;
}


#center {
        background-color: #e7fff0;
        width: 33%;
        display: inline-block;
        float:left;
        margin-left: 33%;
        height: 700px;
        position: absolute;
}

#right {
        background-color: #ff817d;
        width: 33%;
        display: inline-block;
        margin-left: 66%;
        float:left;
        height: 700px;
        position: absolute;

}


.launchpad {
      width: 200px;
      height: 200px;
      margin: 0px 50px 0px 50px;
      border-radius: 100pt;
      border: 1pt solid white;

}


